In [3]:
x = 9
print(type(x))
# x is an integer type, i.e. a positive or negative whole number with no decimal point

<class 'int'>

In [2]:
y = 3.5
print(type(y))
# y is a float type, or a floating-point number, which is a number with a decimal point

<class 'float'>

In [39]:
string_var = "hello world"
print(type(string_var))
# string_var is a string created by putting quotation marks around the characters making up the string

message = '"Welcome to LSE," she said.'
print(message)
# single quotes contain double quotes

paragraph = '''Rerum cognoscere causas
means 
"To understand the causes of things"'''
print(paragraph)
# triple quotes allow us to use multiple line strings

# Break lines by using \n
print("First line\nSecond line")

<class 'str'>
"Welcome to LSE," she said.
Rerum cognoscere causas
means
"To understand the causes of things"
First line
Second line

In [12]:
a = 5
print(type(a > 3))

x = 4
y = 2
x == y
# 4 is not equal to 2 so the result of x == y is False

<class 'bool'>
False

In [20]:
# logic with or/and... can you guess the results for the first three?

False and True;

False and False;

False or True;

True or True

# Putting semi-colons at the end of the command will prevent the result from printing out, which is why only the last result is printed out as True

True

In [34]:
# Multiplication and Division with integers works just like expected
x = 5
y = 3
product = x * y
print(product)
# This product of two integers is also an integer

x = 5
y = 3.0
product = x * y
print(type(product))
# Notice that the type of the product variable is now a float because it is the product of an integer and a float

# Multiplication of a string repeats the string
laugh = "ha" * 3
print(laugh)

# Division with integers works as expected as well and will return a float
a = 27
b = 9
print(a/b)
type(a/b)

15
<class 'float'>
hahaha
3.0

float

In [41]:
# Exponentiation is done by using two asterisks **
cubed = 2**3
print(cubed)

# Modulo operator % yields the remainder from the division of two variables
4 % 2
# 4 % 2 yields 0 because 4 is divisible by 2 exactly, i.e. no remainder. What would 7 % 3 yield?

8

1

In [46]:
m = 5
m += 2
print(m)

m += 2
print(m)
# Recursive addition, works for subtraction -=, multiplication *=, and division /=

7
9

In [53]:
# Converting integers to floats
x = 9
print(type(x))
x1 = float(x)
print(x1)
print(type(x1))

# Converting floats to integers
y = 21.5
print(type(y))
y1 = int(y)
print(y1)
print(type(y1))
# Note how int function truncates the floating decimal to 21

# Converting from integers and floats to strings
founding_year = 1895
print("LSE was founded in " + str(founding_year))
# str function turns 1895 into a string that can be added to another string

# Converting from strings to integers when possible
founding_year = '1895'
# Now founding_year is a string variable
LSE_age = 2019 - int(founding_year)
print(LSE_age)
# int function turns founding_year into an integer value... but this won't always work!

founding_year = 'eighteen ninety five'
int(founding_year)
# Python doesn't know what to do with the string in this case because the string is not made up of numbers

<class 'int'>
9.0
<class 'float'>
<class 'float'>
21
<class 'int'>
LSE was founded in 1895
124

ValueError: invalid literal for int() with base 10: 'eighteen ninety five'

In [4]:
# Working Directory
import os
os.getcwd()

'/Users/majalie'

In [5]:
# Change working directory
os.chdir('/Users/majalie/Desktop/LSESU CODESOC')

In [9]:
import pandas as pd
Auto = pd.read_csv("Auto.csv")
Auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [10]:
# Boolean Conversion
# We can use bool() to turn things in Python into booleans
print(bool(1)) # all numbers are TRUE except 0
print(bool(0)) 
print(bool("asf")) # all strings are TRUE except the empty string ""

True
False
True